body {
  background-color: #181c2c !important;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  margin: 0;
  height: 100%;
}

.content-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main-content {
  flex: 1;
  padding: 2rem;
}


.dashboard-sidebar {
  background-color: #f8f9fa;
  width: 200px;
  min-height: calc(100vh - 60px);
  border-right: 1px solid #e0e0e0;
  flex-shrink: 0;
  position: relative;
}

.navbar-dashboard {
  height: 60px;
  width: 100%;
}